<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password List</title>
</head>
<body>
    <h2>Password List</h2>
    <a href="{% url 'save_password' %}">Add Password</a>
    <ul>
        {% for password in passwords %}
            <li>
                <strong>URL:</strong> {{ password.url }}<br>
                <strong>Username:</strong> {{ password.username }}<br>
                <strong>Email:</strong> {{ password.email }}<br>
                <strong>Password:</strong> {{ password.password }}<br>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
